@model EntityLayer.Concrete.OnemliMekanlar

@{
    ViewBag.Title = "AddOnemliMekanlar1";
    Layout = "~/Views/Shared/_MuhtarLayout.cshtml";
}

<h1>Kategori Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddOnemliMekanlar1", "MuhtarÖnemliMekanlar", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.MahalleId)
        @Html.HiddenFor(x => x.OnemliMekanlarId)

        <br />
        @Html.Label("Adı")
        @Html.TextBoxFor(x => x.Adi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Adi)
        <br />
        @Html.Label("Yapı Tipi")
        @Html.TextAreaFor(x => x.YapiTipi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.YapiTipi)
        <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}


